/* Cutoff points */
$min_two_column_width: 512px;
$min_three_column_width: 1024px;

/* Constants */
$tile_min_height: 320px;
$scrim_height: 80px;
$elements_scrim_height: 160px;
$elements_tile_gutter: 20px;
$elements_tile_max_width: 280px;
$tile_image_size: 180px;

$scroll_threshold: 832px;
$left_nav_min_width: 1480px;

$header_height: 56px;

/* Overall layout */
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.header {
  height: #{$header_height};
  width: 100%;
}

.main-nav {
  height: 100%;
}

/* Overall tile styling */
$tile_image_wrapper_height: $tile_min_height - $scrim_height;
.landing-tile {
  position: relative;

  .tile-image-wrapper {
    height: $tile_image_wrapper_height;
    
    img {
      width: $tile_image_size;
    }
  }

  .scrim {
    height: $scrim_height;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0,0,0,.3);
    font-family: RobotoDraft, arial, sans-serif;
    font-weight: 100;

    .scrim-text {
      padding: 12px 12px;

      .scrim-title {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

/* Elements page-specific styles */
$elements_tile_image_wrapper_height: $tile_min_height - $elements_scrim_height;
$elements_layout_padding: $elements_tile_gutter / 2;
.elements {
  .column-layout {
    padding: 0px $elements_layout_padding;
  }

  .landing-tile {
    .tile-image-wrapper {
      height: $elements_tile_image_wrapper_height;
    }

    .scrim {
      height: $elements_scrim_height;
      background-color: white;
      color: #5a5a5a;

      .scrim-text {
        padding: 20px 20px;
      }

      .scrim-buttons {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: rgb(45, 69, 163);
      }
    }
  }
}

$elements_tile_margin: $elements_tile_gutter / 2;
.elements .column-layout > * {
  margin: $elements_tile_margin;
  max_width: $elements_tile_max_width;
}

/* Web layout */
.column-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  box-sizing: border-box;
}

$three_column_percent: 100% / 3;
.column-layout > * {
  width: $three_column_percent;
  min-height: $tile_min_height;
  box-sizing: border-box;
}

/* Web Fundamentals Grid Wrap Hack
 */
.column-layout > .wrap-hack {
  height: 0;
  min-height: 0;
  max-height: 0;
  border: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/* Two-column layout */
$two_column_percent: 100% / 2;
@media screen
  and (min-width: $min_two_column_width)
  and (max-width: $min_three_column_width - 1px) {
  .column-layout > * {
    min-width: #{$two_column_percent};
    width: #{$two_column_percent};
  }

  .elements .column-layout > * {
    width: calc(#{$two_column_percent} - #{$elements_tile_gutter});
  }
}

/* One-column layout */
@media screen and (max-width: $min_two_column_width - 1px) {
  .column-layout > * {
    width: 100%;
    min-width: 100%;
  }
}

/* Colors */

.getting-started {
  background-color: rgb(60, 99, 249);

  .landing-tile:nth-child(1) {
    background-color: rgb(26, 42, 106);
  }

  .landing-tile:nth-child(2) {
    background-color: rgb(32, 53, 139);
  }
  
  .landing-tile:nth-child(3) {
    background-color: rgb(47, 76, 188);
  }

  .landing-tile:nth-child(4) {
    background-color: rgb(53, 87, 217);
  }

  .landing-tile:nth-child(5) {
    background-color: rgb(60, 99, 249);
  }

  .landing-tile:nth-child(6) {
    background-color: rgb(78, 112, 249);
  }
}

.guides {
  background-color: rgb(226, 67, 117);

  .landing-tile:nth-child(1) {
    background-color: rgb(120, 38, 64)
  }

  .landing-tile:nth-child(2) {
    background-color: rgb(144, 45, 75);
  }

  .landing-tile:nth-child(3) {
    background-color: rgb(171, 52, 89);
  }
  
  .landing-tile:nth-child(4) {
    background-color: rgb(157, 59, 98);
  }

  .landing-tile:nth-child(5) {
    background-color: rgb(229, 100, 145);
  }

  .landing-tile:nth-child(6) {
    background-color: rgb(230, 113, 154);
  }
}

.elements {
  background-color: rgb(101, 118, 189);

  .landing-tile:nth-child(1) {
    background-color: rgb(46, 53, 81);
  }

  .landing-tile:nth-child(2) {
    background-color: rgb(61, 70, 109);
  }

  .landing-tile:nth-child(3) {
    background-color: rgb(113, 147, 203);
  }
}